.chip {
    display: inline-block;
    padding: 0 25px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #009933;
    color: #ffffff;
    font-weight:bold;
    margin-right: 10px;    
}

.add-chip {
    @extend .chip;
    background-color: #808080;

    input {
        margin-top:7px;
        background-color: #808080;
        color: #ffffff;
        border: 0px;
        width: 50px;

        :focus {
            outline: none !important;
            outline-style:none;
            box-shadow:none;
            border-color:transparent;
        }

        :active {
            outline: none !important;
            outline-style:none;
            box-shadow:none;
            border-color:transparent;
        }
    }
}

.close-btn {
    padding-left: 10px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.plus-btn {
    @extend .close-btn;
    float: left;
    padding-left: 0px;
    padding-right: 10px;
}

.close-btn:hover {
    color: #000;
}