@import 'palette';

html{
  height:100%;
}

body{
  height:100%;
  background-color: $primary-color-text;
}

h1{
  color: $primary-color;
}

a{
  color: $primary-color;
  cursor: pointer;
  
  &:hover{
    color: $primary-color;
    text-decoration: none;
  }
}

.primary-background{
  color: white;
  background-color: $primary-color;
}